<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MembersOnly | <%= title %></title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <h3>MembersOnly</h3>
            <a href="/create">Create Message</a>
            <% if(user){ %>
                <p><%= user.name %></p>
                <a href="/logout">Logout</a>
            <% } else{%>
                <a href="/login">Login</a>
                <a href="/signup">Sign Up</a>
            <% } %>
        </div>
    </div>

    <%- include('./message.ejs') %>
</body>
</html>