<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Login Page</h2>
    <form action="/login" method="POST">
        <label for="username">Username</label>
        <input name="username" placeholder="username" type="email" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <button>Log In</button>
        <span>Don't you have an account????<a href="/signup">Sign up</a></span>
    </form>
</body>
</html>